* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  /* This class is added on scroll */
  .fixed {
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 1;
  }
  
  body {
    color: #fff;
    font-family: "open-sans-bold", AvenirNext-Medium, sans-serif;
    font-size: 18px;
    text-align: center;
  }
  
  /* Navigation Settings */
  nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color:#000000;
  }
  
  nav :hover {
    color: #fd2e65;
  }
  
  nav li {
    display: inline-block;
    padding: 24px 10px;
  }
  
  nav li a {
    color: #929090;
    text-transform: uppercase;
  }
  nav {
    z-index: 2; /* Plus élevé que l'overlay */
  }
  section {
    height: 100vh;
  }

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');

html {
  position: relative;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #324e63;
}

a, a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  width: 100%;
  height:auto;
  min-height: 100vh;
  padding: 20px;
  padding-top: 100px;
  display: flex;
  background-color:#121111;
}

@media screen and (max-width: 768px) {
    .wrapper {
      padding: 20px; /* Maintenir un petit padding pour les petits écrans */
    }
  }

  .profile-card {
    width: 100%;
    max-width: 700px; /* Réduire la largeur maximale de la carte */
    min-height: 20px; /* Réduire la hauteur minimale de la carte */
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
  }

  @media screen and (max-width: 576px) {
    .profile-card__img {
      width: 100px; /* Taille plus petite pour mobile */
      height: 100px;
    }
  }
  
.profile-card.active .profile-card__cnt {
  filter: blur(6px);
}

.profile-card.active .profile-card__overlay {
  opacity: 1;
  pointer-events: auto;
  transition-delay: .1s;
}

.profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px rgb(108, 68, 252), 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
}

@media screen and (max-width: 576px) {
  .profile-card__img {
    width: 120px;
    height: 120px;
  }
}

.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-card__cnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all .3s;
}

.profile-card__name {
  font-weight: 700;
  font-size: 24px;
  color: #6944ff;
  margin-bottom: 15px;
}

.profile-card__txt {
  font-size: 18px;
  font-weight: 500;
  color: #324e63;
  margin-bottom: 15px;
}

.profile-card__txt strong {
  font-weight: 700;
}

.profile-card-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.profile-card-loc__icon {
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
}

.profile-card-inf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 35px;
}

.profile-card-inf__item {
  padding: 10px 35px;
  min-width: 150px;
}

@media screen and (max-width: 768px) {
  .profile-card-inf__item {
    padding: 10px 20px;
    min-width: 120px;
  }
}

.profile-card-inf__title {
  font-weight: 700;
  font-size: 27px;
  color: #324e63;
}

.profile-card-inf__txt {
  font-weight: 500;
  margin-top: 7px;
}

.profile-card-social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile-card-social__item {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  font-size: 21px;
  flex-shrink: 0;
  transition: all .3s;
}

@media screen and (max-width: 768px) {
  .profile-card-social__item {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}

.profile-card-social__item:hover {
  transform: scale(1.2);
}

/* Les réseaux sociaux spécifiques */
.profile-card-social__item.twitter {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
}

.profile-card-social__item.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.profile-card-social__item.behance {
  background: linear-gradient(45deg, #1769ff, #213fca);
}

.profile-card-social__item.github {
  background: linear-gradient(45deg, #333333, #626b73);
}

.profile-card-social__item.tiktok {
  background: linear-gradient(45deg, #324e63, #414447);
}

.profile-card-social__item.linkedin {
  background: linear-gradient(45deg, #d5135a, #f05924);
}

.profile-card-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

@media screen and (max-width: 576px) {
  .profile-card-ctr {
    flex-wrap: wrap;
  }
}

.profile-card__button {
  background: none;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 55px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all .3s;
}

/* Ajustements pour les boutons selon la taille de l'écran */
@media screen and (max-width: 768px) {
  .profile-card__button {
    min-width: 170px;
    margin: 15px 25px;
  }
}

@media screen and (max-width: 576px) {
  .profile-card__button {
    min-width: inherit;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
  }
}

.profile-card__button:focus {
  outline: none !important;
}

.profile-card__button:hover {
  transform: translateY(-5px);
}

.profile-card__button.button--orange {
  background: linear-gradient(45deg, #d5135a, #f05924);
}

@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
html,
body {
  font-family: 'Roboto Mono', monospace;
  background: #212121;
  height: 100%;
}
.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: url(./assets/anime.jpg) 0 0 no-repeat;
  background-size: cover; /* Pour que l'image couvre tout le conteneur */
  background-position: center; /* Pour centrer l'image */
}

.container::before {
    content: ""; /* Nécessaire pour créer un pseudo-élément */
    position: absolute; /* Positionner l'overlay par rapport au conteneur */
    top: 0; /* Aligner le haut de l'overlay avec le haut du conteneur */
    left: 0; /* Aligner la gauche de l'overlay avec la gauche du conteneur */
    right: 0; /* Aligner la droite de l'overlay avec la droite du conteneur */
    bottom: 0; /* Aligner le bas de l'overlay avec le bas du conteneur */
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de l'overlay (noir avec 50% de transparence) */
    z-index: 1; /* S'assurer que l'overlay est au-dessus de l'image */
  }
  
  .container > * { /* Pour s'assurer que le contenu est au-dessus de l'overlay */
    position: relative; /* Nécessaire pour le positionnement */
    z-index: 2; /* S'assurer que le contenu est au-dessus de l'overlay */
  }

.text {
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
}
.dud {
  color: #757575;
}

  #competences {
    background-color:#121111;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:center;
  }

  h2,h1 {
    color:#fd2e65;
    font-size: 2rem;
  }

  #competences h2 {
    margin: 20px 0;
  }

  h2{width: 100%;}

  #creations {
    background-color:#121111;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
  }

  .portfolio {
    display: flex;
    color: black;
    justify-content: space-around;
    flex-wrap: wrap; /* Permet au contenu de s'adapter sur plusieurs lignes */
    margin: 20px; /* Ajoute un espacement autour du portfolio */
}

.portfolio-title {
    text-align:center; 
    margin: 20px 0; /* Ajoute de l'espace au-dessus et en dessous du titre */
    font-size: 2rem; 
    color: #fd2e65;
    font-weight: bold; /* Gras */
}

.item {
    background: rgb(255, 255, 255);
    padding: 20px; /* Réduit le padding pour une apparence plus légère */
    border: 1px;
    border-radius: 10px; /* Bordure légèrement moins épaisse */
    text-align: center;
    width: 200px;
    margin: 10px; /* Ajoute de l'espace entre les éléments */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère pour la profondeur */
    transition: transform 0.2s; /* Ajoute une transition douce */
}

.item:hover {
    transform: translateY(-5px); /* Léger effet d'élévation au survol */
}

.open-modal {
    background-color:#fd2e65;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Ajuste la taille de la police */
}

.open-modal:hover {
    background-color: #fd2e65; /* Changement de couleur plus doux au survol */
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    color: black;
    background-color: rgba(0,0,0,0.7); /* Augmente l'opacité pour un meilleur contraste */
}

.modal-content {
    background-color: #ffffff; /* Fond blanc pour le contenu de la modal */
    margin: 10% auto; /* Réduit la marge supérieure */
    padding: 20px;
    border-radius: 10px; /* Ajoute des coins arrondis */
    width: 40%; /* Rendre le contenu de la modal plus large */
    max-width: 600px; /* Largeur maximale pour éviter qu'il ne devienne trop large */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Ajoute une ombre plus marquée */
    position: relative; /* Position pour le close button */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

  #objectifs {
    background-color:#121111;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:center;
  }
  
  @media only screen and (max-width: 520px) {
    nav li {
padding: 24px 4px;
    }
  
    nav li a {
      font-size: 14px;
    }
  }

  
.align-center {
    text-align: center;
 }
 
 
 html {
    height: 100%;
 }
 body {
    height: 100%;
    position: relative;
    background: #272525; 
 }
 
 .row {
    margin: -20px 0;
    .col {
       padding: 0 20px;
       float: left;
       box-sizing: border-box;
       &.x-50 {
          width: 50%;
       }
       &.x-100 {
          width: 100%;
       }
    }
 }
 
 .content-wrapper {
    min-height: 100%;
    position: relative;
 }
 
 .get-in-touch {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: #272525;
 
    .title {
       text-align: center;
       font-family: Raleway, sans-serif;
       text-transform: uppercase;
       letter-spacing: 3px;
       font-size: 36px;
       line-height: 48px;
       padding-bottom: 48px;
    }
 }
 
 .contact-form {
    .form-field {
       position: relative;
       margin: 32px 0;
    }
    .input-text {
       display: block;
       width: 100%;
       height: 36px;
       border-width: 0 0 2px 0;
       border-color: #000;
       font-family: Lusitana, serif;
       font-size: 18px;
       line-height: 26px;
       font-weight: 400;
       border-radius: 5px;
 
       &:focus {
          outline: none;
       }
 
       &:focus,
       &.not-empty {
          + .label {
             transform: translateY(-24px);
          }
       }
    }

    .label {
       position: absolute;
       left: 20px;
       bottom: 11px;
       font-family: Lusitana, serif;
       font-size: 18px;
       line-height: 26px;
       font-weight: 400;
       color:#272525;
       cursor: text;
       transition: transform 0.2s ease-in-out;
    }

    .submit-btn {
       display: inline-block;
       background-color:#fd2e65;
       color: #fff;
       font-family: Raleway, sans-serif;
       text-transform: uppercase;
       letter-spacing: 2px;
       font-size: 16px;
       line-height: 24px;
       padding: 8px 16px;
       border: none;
       cursor: pointer;
    }
 }

 .submit-btn:hover {
    color:rgb(92, 90, 90);
 }
 
 .note {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-family: Lusitana, serif;
    font-size: 16px;
    line-height: 21px;
 
    .link {
       color: #8f8989;
       text-decoration: none;
       &:hover {
          text-decoration: underline;
       }
    }
 }
 